
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    
}
/* Container styling */
.popupContainer {
    width: 400px;
    padding: 12px;
}

/* Title styling */
.popupContainer .titleText {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 12px;
}

/* Text styling */
.popupContainer .bodyText {
    font-size: 14px;
    color: #555;
    margin-bottom: 12px;
    line-height: 1.6;
}

/* Adjust the bottom margin for better spacing */
.popupContainer .bodyText:last-child {
    margin-bottom: 0;
}
